/* CSS for website */
.book-body {
    background-color: eeeeee;
}
.book .book-body .page-wrapper .page-inner section.normal blockquote {
    background-color: rgba(208, 191, 164, 0.54);
    border-left: thick solid #bb2f3f;
}